@import "tailwindcss";

:host {
  display: block;
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color-scheme: light;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
